@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
}

/* Picture Side */

.pic-container {
	width: 32vw;
	height: 100vh;
	background-image: url("./img/background_img.jpg");
	background-size: cover;
	position: relative;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.85);
	position: relative;
	top: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 3em;
	padding: 1em;
}

#logo {
	height: 4em;
}

#company-name {
	color: #333;
}

/* Text Side */
